.mans-product-box {
  height: 90vh;
  text-align: center;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.card {
  max-width: 300px;
  height: 330px;
  margin: 30px 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px gray;
  cursor: pointer;
}
.mans-product-images {
  width: 300px;
  height: 60%;
  image-orientation: from-image;
  object-position: top;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  object-fit: cover;
}
.card h2 {
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: bold;
  padding: 10px 0;
}
.brand {
  font-weight: bold;
  letter-spacing: 0.1em;
}
.card p {
  padding: 8px 0;
  color: rgb(86, 87, 84);
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
