.main-pickGender {
  max-width: 100%;
  max-height: 91vh;
}

.man-clothing,
.woman-clothing {
  width: 400px;
}

.card-woman {
  background-image: url(../../images/woman.JPG);
  width: 800px;
  height: 650px;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.card-woman h1 {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.1em;
}
.card-man {
  background-image: url(../../images/man.JPG);
  width: 800px;
  height: 650px;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.card-man h1 {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.1em;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
  margin-top: 70px;
}
