@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Madimi+One&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import "../Variables/_Variables.scss";

@mixin text-style {
  color: $white-color;
  font-size: $base-font-size * 1.2;
  font-style: $base-font-family;
  font-weight: $bold-font-weight;
}

@mixin button-style($background-color, $border-color: null) {
  @include text-style;
  border: if($border-color, 1px solid $border-color, none);
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: $background-color;
  cursor: pointer;
}

header {
  background-color: $header-background-color;
  width: 100%;
  height: 80px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 150px;
}

nav {
  ul {
    display: flex;
    gap: 50px;
    li {
      list-style: none;
      a {
        text-decoration: none;
        @include text-style;
      }
    }
  }
}
.burger {
  display: none;
  .burger-icon {
    color: $white-color;
    font-size: $base-font-size * 2;
    cursor: pointer;
    margin: 25px 0px 0px 50px;
  }
}

.login-btn {
  @include button-style($header-background-color);
  cursor: pointer;
  .arrowDropDown {
    font-size: 2rem;
  }
}

.login-form {
  position: fixed;
  width: 400px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 999;
  border: 1px solid gray;
  .form-header {
    width: 100%;
    height: 40px;
    text-align: left;
    background-color: rgb(245, 241, 241);
    border-bottom: 1px solid rgb(214, 209, 209);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    h2 {
      padding: 10px 20px;
      font-size: $base-font-size * 1.5;
      font-family: $base-font-family;
      font-weight: $bold-font-weight;
    }
  }
  .form-group {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    gap: 7px;
    input {
      padding: 7px 15px;
      border-radius: 5px;
      border: 1px solid rgb(214, 209, 209);
    }
  }
}

.submit {
  width: 100%;
  padding-left: 20px;
  .login {
    width: 100px;
    padding: 7px 10px;
    border-radius: 7px;
    border: none;
    background-color: $button-background-color;
    margin-right: 10px;
    color: white;
    cursor: pointer;
  }
  .new-user {
    width: 100px;
    padding: 7px 10px;
    border-radius: 7px;
    border: none;
    background-color: $white-color;
    border: 1px solid rgb(214, 209, 209);
    cursor: pointer;
    transition: 0.25s;
  }
  .new-user:hover {
    color: $button-background-color;
  }
}

.register-form {
  position: fixed;
  width: 400px;
  height: 330px;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 999;
  border: 1px solid gray;

  .register-header {
    width: 100%;
    height: 40px;
    text-align: left;
    background-color: rgb(245, 241, 241);
    border-bottom: 1px solid rgb(214, 209, 209);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    h2 {
      padding: 10px 20px;
      font-size: $base-font-size * 1.5;
      font-family: $base-font-family;
      font-weight: $bold-font-weight;
    }
  }
  .form-group {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    gap: 7px;
    input {
      padding: 7px 15px;
      border-radius: 5px;
      border: 1px solid rgb(214, 209, 209);
      width: 100%;
      box-sizing: border-box;
    }
    .register-btn {
      width: 100px;
      padding: 7px 10px;
      border: none;
      background-color: $button-background-color;
      color: $white-color;
      font-family: $base-font-family;
      border-radius: 7px;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}

.user-name {
  color: $white-color;
  font-size: $base-font-size * 1.5;
}
.error-message {
  color: red;
}
.turn-off-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: $base-font-size;
  cursor: pointer;
}

.logout-btn {
  background-color: transparent;
  color: $white-color;
  border: none;
  margin-left: 15px;
  transition: 0.25s;
  cursor: pointer;
}
.logout-btn:hover {
  color: $button-background-color;
}

@media all and (max-width: 1100px) {
  .header-container {
    margin: 0px 50px;
  }
}

@media all and (max-width: 900px) {
  .header-container {
    margin: 0px 20px;
  }
  nav {
    ul {
      gap: 15px;

      li {
        a {
          font-size: $base-font-size * 1.2;
        }
      }
    }
  }
  .login-btn {
    font-size: $base-font-size * 1.2;
    gap: 0px;
    .arrowDropDown {
      font-size: 2rem;
    }
  }
}

@media all and (max-width: 700px) {
  .burger {
    display: block;
    .burger-icon {
      color: $white-color;
      font-size: $base-font-size * 2;
      cursor: pointer;
    }
  }
  .header-container {
    display: none;
  }
}
