header {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #242a32;
  gap: 20px;
}

header > h1 {
  color: white;
  margin: 0;
}

.search-bar {
  position: relative;
}

.search-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: gray;
}

#movie {
  width: 327px;
  height: 42px;
  border-radius: 25px;
  border: none;
  background-color: #3a3f47;
  padding-left: 40px;
  font-size: 18px;
  color: white;
}

.filter-btn {
  display: flex;
  gap: 20px;
}

.filter-btn > button {
  width: 120px;
  height: 35px;
  background-color: transparent;
  border: none;
  color: white;
  background-color: #3a3f47;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.filter-btn button.active {
  background-color: #007bff;
}

@media all and (max-width: 500px) {
  header {
    width: 100%;
    height: 180px;
  }
  header > h1 {
    color: white;
    font-size: 20px;
  }
  #movie {
    width: 200px;
    height: 35px;
    font-size: 16px;
  }
  .search-btn {
    top: 8px;
  }
  .filter-btn > button {
    font-size: 13px;
    width: 80px;
    height: 30px;
  }
}
