section {
  width: 100%;
  background-color: #242a32;
  min-height: 82vh;
  height: auto;
  display: flex;
}

.movie-container {
  max-width: 1000px;
  margin: 10px auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 120px;
  justify-content: center;
}

.movie {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  cursor: pointer;
}
.movie > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

@media all and (max-width: 500px) {
  section {
    height: auto;
  }
  .movie {
    width: 150px;
    height: 230px;
    background-color: rebeccapurple;
  }
  .movie-container {
    gap: 15px;
  }
}
