body {
  background-color: #242a32;
}
.watchList {
  width: 100%;
  background-color: #242a32;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: auto;
  margin-bottom: 120px;
}

.watchList > div > h2 {
  margin: 0;
  text-align: center;
  padding-top: 20px;
  color: white;
  font-size: 28px;
}

.watchList-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.watchList-movie {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 20px;
  position: relative;
  align-items: center;
}

.watchList-movie > div > h2 {
  text-align: center;
  color: white;
  font-size: 18px;
  width: 200px;
}

.watchList-movie > div > img {
  width: 200px;
  min-height: 300px;
  border-radius: 20px;
}

.watchList-movie > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-displayed-movies {
  color: gray;
}

.remove-btn {
  font-size: 18px;
  width: 120px;
  padding: 8px 0px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background: transparent;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  position: sticky;
  margin-top: -50px;
  z-index: 10;
}
