@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Madimi+One&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.car-listing-section {
  width: 100%;
  min-height: 90vh;
}

.cars {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}

.car {
  max-width: 920px;
  height: 350px;
  background-color: aliceblue;
  display: flex;
  margin: 20px 0;
  padding: 30px;
}
.car .car-img img {
  max-width: 400px;
  min-height: 200px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  flex: 1;
}
.car .car-description {
  width: 520px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}
.car .car-description h2 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Roboto Serif", serif;
  line-height: 32px;
}
.car .car-description h3 {
  font-size: 25.6px;
  font-weight: 400;
  font-family: "Roboto Serif", serif;
  line-height: 32px;
}
.car .car-description .infomartion-about-car {
  display: flex;
  justify-content: space-around;
}
.car .car-description .infomartion-about-car p {
  font-size: 22.4px;
  font-family: "Roboto Serif", serif;
  line-height: 24px;
  font-weight: 400;
  text-align: start;
  margin: 0 10px 15px 0;
}

.view-details-btn {
  width: 300px;
  height: 70px;
  border-radius: 10px;
  border: none;
  background-color: #fa1313;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  margin: 0 auto;
}

.section-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 300px;
}

.car-brand-selector,
.car-fuel-type,
.car-location {
  width: 150px;
  height: 40px;
  font-size: 19.2px;
}

.filter-cars {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid gray;
  margin-top: 45px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.pagination-selected {
  background-color: #fa1313;
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: #fff;
}

.pagination-not-selected,
.left-btn,
.right-btn {
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid gray;
}

.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchBar input {
  width: 400px;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid gray;
  color: #000000;
  margin-top: 20px;
}
.searchBar input::-moz-placeholder {
  color: #000000;
}
.searchBar input::placeholder {
  color: #000000;
}

.select-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
  font-size: "Roboto Serif", serif;
  font-family: "Roboto Serif", serif;
  font-weight: 400;
}
.select-filter select {
  margin-left: 15px;
  width: 120px;
  height: 30px;
}

.no-results-message {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-family: "Roboto Serif", serif;
  margin-top: 50px;
}

@media all and (max-width: 1100px) {
  .cars {
    justify-content: center;
    align-items: center;
  }
  .car {
    flex-wrap: wrap;
    height: auto;
    width: 400px;
  }
  .car .car-img img {
    max-width: 400px;
  }
  .car .car-description h2 {
    margin-bottom: 10px;
  }
  .car .car-description h3 {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 600px) {
  .cars {
    padding: 0px;
  }
  .car {
    max-width: 300px;
  }
  .car .car-img img {
    max-width: 300px;
  }
  .car .car-description {
    width: 300px;
  }
  .car .car-description h2 {
    font-size: 24px;
  }
  .car .car-description h3 {
    font-size: 19.2px;
  }
  .car .car-description .infomartion-about-car p {
    font-size: 16px;
  }
  .view-details-btn {
    width: 200px;
    height: 60px;
    font-size: 20.8px;
  }
  .no-results-message {
    padding: 15px;
    text-align: center;
  }
}
@media all and (max-width: 525px) {
  .searchBar {
    padding: 10px;
  }
  .searchBar input {
    width: 300px;
  }
  .select-filter {
    padding: 15px;
  }
}/*# sourceMappingURL=section.css.map */