.section :global(.form) {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 400px;
  height: 100px;
  top: 120px;
  right: 500px;
  margin-left: 40px;
}

.section input {
  width: 300px;
  height: 25px;
  padding-left: 10px;
  border-radius: 8px;
  background-color: rgb(102, 100, 100);
  font-size: 10px;
  border-style: solid;
  border-width: 3px;
  transition: 0.15s;
}

.section input::placeholder {
  color: white;
  font-size: 10px;
}

.section p {
  display: flex;
  color: white;
  font-size: 16px;
}

.section :global(.message-input) {
  height: 50px;
  text-align: start;
}

.section button {
  margin-top: 30px;
  width: 318px;
  height: 45px;
  padding: 10px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  font-size: 17px;
  justify-content: center;
  background-color: rgb(19, 18, 18);
  border-color: white;
  color: white;
  cursor: pointer;
  transition: 0.15s;
  font-size: 17px;
  font-weight: bold;
}

.section button:hover {
  display: block;
  border-color: rgb(10, 212, 10);
  color: rgb(10, 212, 10);
}
