.section {
  width: 4rem 4rem;
  margin-top: 30px;
  background-color: rgb(19, 18, 18);

  position: relative;
}

.section ul {
  display: flex;
  justify-content: space-between;
  width: 200px;
  list-style: none;
  position: absolute;
  left: 100px;
  top: 350px;
  height: 40px;
}

.section li {
  display: flex;
}

.section :global(.facebook) {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 25px;
  background-color: rgb(0, 0, 0);
  transition: 0.2s;
  cursor: pointer;
}

.section :global(.instagram) {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 25px;
  transition: 0.2s;
  cursor: pointer;
}

.section :global(.twitter) {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 25px;
  transition: 0.2s;
  cursor: pointer;
}

.section :hover:global(.facebook) {
  margin-top: 15px;
}

.section :hover:global(.instagram) {
  margin-top: 15px;
}

.section :hover:global(.twitter) {
  margin-top: 15px;
}

.section :global(.name) {
  position: absolute;
  top: 120px;
  color: white;
  left: 140px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.section :global(.developer) {
  position: absolute;
  top: 220px;
  color: white;
  left: 140px;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.section :global(.about) {
  position: absolute;
  width: 600px;
  text-align: start;
  top: 265px;
  color: rgb(209, 203, 203);
  left: 140px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 35px;
}

.section :global(.container) {
  width: 700px;
  height: 500px;
  position: absolute;
  left: 500px;
  top: 80px;
}

.section :global(.benas-img) {
  object-fit: cover;
  width: 350px;
  height: 350px;
  border-radius: 200px;
  position: absolute;
  display: block;
  z-index: 3;
  right: 700px;
  top: 240px;
}

.section :global(.btn) {
  display: block;
  width: 200px;
  position: absolute;
  top: 530px;
  left: 640px;
  background-color: rgb(19, 18, 18);
  padding: 20px;
  font-size: 20px;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  font-weight: bold;
  transition: 0.15s;
  cursor: pointer;
}

.section :hover:global(.btn) {
  display: block;
  border-color: rgb(10, 212, 10);
  color: rgb(10, 212, 10);
}
