.nav {
  display: flex;
  position: absolute;
}

.nav :global(.logo) {
  display: block;
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50px;
  margin-left: 50px;
}

.nav :hover:global(.logo) {
  text-decoration: none;
}
